<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddVehicleServlet</servlet-name>
        <servlet-class>AddVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMechanicServlet</servlet-name>
        <servlet-class>AddMechanicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllMechanicsServlet</servlet-name>
        <servlet-class>AllMechanicsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVehicleDetailsServlet</servlet-name>
        <servlet-class>GetVehicleDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkOrderServlet</servlet-name>
        <servlet-class>WorkOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllVehiclesServlet</servlet-name>
        <servlet-class>AllVehiclesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthRegisterServlet</servlet-name>
        <servlet-class>AuthRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowWorkOrdersServlet</servlet-name>
        <servlet-class>ShowWorkOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSparesServlet</servlet-name>
        <servlet-class>ViewSparesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveSpareServlet</servlet-name>
        <servlet-class>ApproveSpareServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAdditionalDefectsServlet</servlet-name>
        <servlet-class>ViewAdditionalDefectsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveDefectServlet</servlet-name>
        <servlet-class>ApproveDefectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MechanicWorkOrdersServlet</servlet-name>
        <servlet-class>MechanicWorkOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddChecklistServlet</servlet-name>
        <servlet-class>AddChecklistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdditionalDefectsServlet</servlet-name>
        <servlet-class>AddAdditionalDefectsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSpareServlet</servlet-name>
        <servlet-class>AddSpareServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServicingCardServlet</servlet-name>
        <servlet-class>AddServicingCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddVehicleServlet</servlet-name>
        <url-pattern>/addVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMechanicServlet</servlet-name>
        <url-pattern>/addMechanic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllMechanicsServlet</servlet-name>
        <url-pattern>/allMechanics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVehicleDetailsServlet</servlet-name>
        <url-pattern>/getVehicleDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkOrderServlet</servlet-name>
        <url-pattern>/workOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllVehiclesServlet</servlet-name>
        <url-pattern>/allVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthRegisterServlet</servlet-name>
        <url-pattern>/signup_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowWorkOrdersServlet</servlet-name>
        <url-pattern>/ShowWorkOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSparesServlet</servlet-name>
        <url-pattern>/view_spares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveSpareServlet</servlet-name>
        <url-pattern>/approveSpare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAdditionalDefectsServlet</servlet-name>
        <url-pattern>/additionalDefects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveDefectServlet</servlet-name>
        <url-pattern>/approveDefect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MechanicWorkOrdersServlet</servlet-name>
        <url-pattern>/myWorkOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddChecklistServlet</servlet-name>
        <url-pattern>/addChecklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdditionalDefectsServlet</servlet-name>
        <url-pattern>/addAdditionalDefect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSpareServlet</servlet-name>
        <url-pattern>/addSpare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServicingCardServlet</servlet-name>
        <url-pattern>/addServicingCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
