<div class="sidebar-wrapper" style="background-color: green">
                <div class="logo">
                    <a href="" class="simple-text">
                        Mechanic Home Page
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="/GroupProject/mechanic/index.jsp">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                <li>
                 <a class="nav-link" href="/GroupProject/myWorkOrders">

                            <i class="nc-icon nc-circle-09"></i>
                            <p>View Work Orders</p>
                        </a>
                    </li>
            <!--            <li>
                        <a class="nav-link" href="/GroupProject/allVehicles">
                            <i class="nc-icon nc-notes"></i>
                            <p>All Vehicles</p>
                        </a>
                    </li>-->
                    
<!--                    
                     <li>
                        <a class="nav-link" href="/GroupProject/addMechanic">
                            <i class="nc-icon nc-notes"></i>
                            <p>New Mechanic </p>
                        </a>
                    </li>
                    
                     <li>
                        <a class="nav-link" href="/GroupProject/allMechanics">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>All Mechanics</p>
                        </a>
                    </li>
                   
                    
                    <li>
                        <a class="nav-link" href="/GroupProject/workOrder" >
                            <i class="nc-icon nc-circle-09"></i>
                            <p> New Work Order</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/GroupProject/ShowWorkOrders" >
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Show all Work Orders</p>
                        </a>
                    </li>-->
                    
                </ul>
            </div>
        </div>