<div class="sidebar-wrapper" style="background-color: green">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        Foreman HomePage
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/GroupProject/foreman/index.jsp">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                                                <!--<a class="nav-link" href="/GroupProject/foreman/newVehicle.jsp">-->

                        <a class="nav-link" href="/GroupProject/addVehicle">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>New Vehicle</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/GroupProject/allVehicles">
                            <i class="nc-icon nc-notes"></i>
                            <p>All Vehicles</p>
                        </a>
                    </li>
                    
                    
                     <li>
                        <a class="nav-link" href="/GroupProject/addMechanic">
                            <i class="nc-icon nc-notes"></i>
                            <p>New Mechanic </p>
                        </a>
                    </li>
                    
                     <li>
                        <a class="nav-link" href="/GroupProject/allMechanics">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>All Mechanics</p>
                        </a>
                    </li>
                   
                    
                    <li>
                        <a class="nav-link" href="/GroupProject/workOrder" >
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Work Order</p>
                        </a>
                    </li>
                    
                    
                </ul>
            </div>
        </div>